{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    添加项目
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <br>
        <h4 class="mb-3">添加一个新的产品</h4>
        <form method="post">
            {% csrf_token %}
            <div class="col-md-6 mb-3">
                <label for="exampleInputName" class="form-label">产品名称<label style="color: red;">*</label></label>
                <input type="text" name="name" class="form-control" id="name" aria-describedby="namehelp" required>
                <div id="namehelp" class="form-text">输入产品名称</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="exampleInputDesc" class="form-label">产品描述<label style="color: red;">*</label></label>
                <input type="text" class="form-control" id="desc" name="desc">
                <div id="deschelp" class="form-text">请添加一个产品的大概介绍</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="method">产品类型</label><label style="color: red;">*</label></label>
                <select class="form-control" id="product_type" name="product_type">
                    <option selected>选择产品类型</option>
                    {% for name, tag in tags %}
                        <option value="{{ name }}">{{ tag }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="w-50 btn btn-primary btn-lg">提交</button>
        </form>
    </div>
{% endblock %}