{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    添加流程测试
{% endblock %}
{% block content %}
    <br>
    <br>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">添加一个新的流程</h4>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="apitestname" class="form-label">流程用例名称<label style="color: red;">*</label></label>
                <input type="text" class="form-control" id="name" name="name" placeholder="请输入用例名称..." autofocus
                       required>
                <div id="namehelp" class="form-text">输入用例名称</div>
            </div>
            <br>
            <button type="submit" class="w-50 btn btn-primary">提交</button>
        </form>
    </div>
{% endblock %}