{% extends 'base.html' %}
{% block title %}
    流程接口
{% endblock %}
{% block content %}
    <br>
    <h3>{{ product.name }}</h3>
    <p>{{ product.desc }}</p>
    <div style="float: right">
        <a href="{% url 'apitest:add' product.id %}">
            <button type="button" class="btn btn-outline-primary">添加</button>
        </a>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>流程接口测试ID</th>
                <th>流程接口测试名称</th>
                <th>执行人</th>
                <th>所属项目</th>
                <th>测试结果</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            {% for apitest in page_obj %}
                <tr>
                    <td><a href="{% url 'apitest:step-index' apitest.id %}">
                        {{ apitest.id }}
                    </a></td>
                    <td>{{ apitest.name }}</td>
                    <td>{{ apitest.tester }}</td>
                    <td>{{ apitest.product }}</td>
                    {% if apitest.results == -1 %}
                        <td><span class="badge badge-warning">未测试</span></td>
                    {% elif apitest.results == 1 %}
                        <td><span class="badge badge-success">成功</span></td>
                    {% elif apitest.results == 0 %}
                        <td><span class="badge badge-danger">失败</span></td>
                    {% endif %}
                    {% if product.is_deleted %}
                        <td><span class="badge badge-pill badge-danger">删除</span></td>
                    {% else %}
                        <td><span class="badge badge-pill badge-success">正常</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}