{% extends 'base.html' %}
{% block title %}
    测试步骤
{% endblock %}
{% block content %}
    <br>
    <br>
    {% if apitest %}
        <h4>用例——{{ apitest.name }}</h4>
    {% endif %}
    <div style="float: right">
        <a href="{% url 'apitest:step-add' apitest.id %}">
            <button type="button" class="btn btn-outline-primary">添加</button>
        </a>
    </div>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>步骤ID</th>
                <th>步骤名称</th>
                <th>请求方法</th>
                <th>请求地址</th>
                <th>请求路径</th>
                <th>请求参数</th>
                <th>请求体</th>
                <th>预期结果</th>
                <th>预期正则</th>
                <th>实际结果</th>
                <th>是否通过</th>
            </tr>
            </thead>
            <tbody>
            {% for step in page_obj %}
                <tr>
                    <td>{{ step.id }}</td>
                    <td>{{ step.name }}</td>
                    <td>{{ step.method }}</td>
                    <td>{{ step.url }}</td>
                    <td>{{ step.route }}</td>
                    <td>{{ step.params }}</td>
                    <td>{{ step.body }}</td>
                    <td>{{ step.expected_result }}</td>
                    <td>{{ step.expected_regular }}</td>
                    <td>{{ step.results }}</td>
                    {% if step.status == -1 %}
                        <td><span class="badge badge-warning">未测试</span></td>
                    {% elif step.status == 1 %}
                        <td><span class="badge badge-success">通过</span></td>
                    {% elif step.status == 0 %}
                        <td><span class="badge badge-danger">失败</span></td>
                    {% endif %}
                    {% if step.is_deleted %}
                        <td><span class="badge badge-pill badge-danger">删除</span></td>
                    {% else %}
                        <td><span class="badge badge-pill badge-success">正常</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}