{% extends 'base.html' %}
{% block title %}
    报告
{% endblock %}
{% block content %}
    <br>
    <h5>问题列表</h5>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                    <tr>
                        <th>BUG_ID</th>
                        <th>任务ID</th>
                        <th>用例名称</th>
                        <th>步骤名称</th>
                        <th>数据详情</th>
                        <th>BUG详情</th>
                        <th>BUG状态</th>
                        <th>BUG等级</th>
                        <th>更新时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bug in page_obj %}
                        <tr>
                            <td>{{ bug.id }}</td>
                            <td>{{ bug.task }}</td>
                            <td>{{ bug.casename }}</td>
                            <td>{{ bug.stepname }}</td>
                            <td>{{ bug.request }}</td>
                            <td>{{ bug.detail }}</td>
                            {% if bug.status == '已解决' %}
                                <td><span class="badge badge-success">已解决</span></td>
                            {% elif bug.status == '未解决' %}
                                <td><span class="badge badge-danger">未解决</span></td>
                            {% endif %}
                            <td>{{ bug.level }}</td>
                            <td>{{ bug.updated_time }}</td>
                        </tr>
                    {% empty %}
                        <p style="color: red">暂无数据</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
