{% extends 'base.html' %}
{% block title %}
趋势
{% endblock %}
{% block head %}
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
{% endblock %}
{% block content %}
<div class="btn-group">
    <button type="button" class="btn btn-info">{{ product.name }}</button>
    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">切换下拉菜单</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for pd in products %}
        <li><a href="{{ url_for('.trend',pk=pd.id) }}">{{ pd.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<br>
<br>
<!-- <div class="row">
    <div class="col-3">

    </div>
</div> -->
<div id="bar" style="width:1000px; height:600px;">
</div>
{% endblock %}
{% block script %}
<script>
    $(
        function () {
            var chart = echarts.init(document.getElementById('bar'), 'white', { renderer: 'canvas' });
            $.ajax({
                type: "GET",
                url: "{{ url_for('.trending',pk=product.id) }}",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                    setInterval(fetchData, 2000);
                }
            });
        }
    )
</script>
{% endblock %}